.navbar {
  background-color: transparent;
}

.scrolling-navbar {
  transition: background .10s ease-in-out padding .10s ease-in-out;
}

.top-nav-collapse {
  background-color: #34456a;
}

footer.page-footer {
  background-color: #34456a;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #34456a;
  }
}
/* Necessary for full page carousel*/

html,
body,
.view {
  height: 100%;
}
/* Carousel*/

.carousel,
.carousel-item,
.carousel-item.active {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

.carousel .carousel-item video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Chart.js */

@-webkit-keyframes chartjs-render-animation {
  from {
    opacity: 0.99
  }
  to {
    opacity: 1
  }
}

@keyframes chartjs-render-animation {
  from {
    opacity: 0.99
  }
  to {
    opacity: 1
  }
}

.chartjs-render-monitor {
  -webkit-animation: chartjs-render-animation 0.001s;
  animation: chartjs-render-animation 0.001s;
}

.card img {
  display: block;
  height: 500px !important;
  margin: 0 auto;
}

.dummy {
  margin-top: 100%;
}

.thumbnail {
  position: absolute;
  top: 15px;
  bottom: 0;
  transition: all 0.4s ease-in-out;
  left: 15px;
  right: 0;
  text-align: center;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: calc(50% - 30px);
  box-shadow: 0 0 10px rgba(94, 7, 208, 0.5)
}

.thumbnail:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 1);
}

.thumbnail:hover .bookTitle {
  transform: scale(1.1);
  color: #fff000;
}

.bookTitle {
  transition: all .5s;
  position: absolute;
  top: 20px;
  left: 20px;
  text-transform: uppercase;
  color: white;
  font-family: GothamProBold;
  font-size: 1.6em
}

.bookAuthor {
  transition: all .5s;
  position: absolute;
  bottom: 15px;
  left: 20px;
  color: white;
  font-family: GothamPro;
  font-size: 1.5em
}

@media screen and (max-width: 850px) {
  .bookTitle {
    font-size: 1.4em
  }
  .bookAuthor {
    font-size: 1.3em
  }
}

@media screen and (max-width: 760px) {
  .bookTitle {
    font-size: 1.2em
  }
  .bookAuthor {
    font-size: 1.0em
  }
}

@media screen and (max-width: 680px) {
  .bookTitle {
    font-size: 1.4em
  }
  .bookAuthor {
    font-size: 1.2em
  }
}

@media screen and (max-width: 550px) {
  .bookTitle {
    font-size: 1.2em
  }
  .bookAuthor {
    font-size: 1.0em
  }
}

@media screen and (max-width: 400px) {
  .bookTitle {
    font-size: 1.0em;
    line-height: 1.0em
  }
  .bookAuthor {
    font-size: 0.8em
  }
}

.books {
  background: #c9cfdd;
}

.inActive {
  text-align: center;
  font-size: 1.4em;
  font-style: oblique;
  font-weight: bold;
  color: #c9cfdd
}

.inActive .text {
  background-color: #6e655e;
  border-radius: 5px;
  opacity: 0.5;
  filter: alpha(opacity=30);
}
.btn-rounded {
  border-radius: 10em;
}
.opacity{
  background-color: #6e655e;
  opacity: 0.9;
  border-radius: 5px;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 1);

}
.prettyLink{
  text-decoration: none;
  color: #34456a;
}
.prettyLink:hover{
  color: #34456a;
}
.btn-sm-round
{
  border-radius: 5px;
}



