<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false">
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-2" data-slide-to="0" class=""></li>
        <li data-target="#carousel-example-2" data-slide-to="1" class=""></li>
    </ol>
    <!--Slides-->
    <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">
            <!--Mask-->
            <div class="view">
                <!--Video source-->
                <video autoplay="" loop="" playsinline="" muted="">
                    <source src="/video/Calligraphy.mp4" type="video/mp4">
                </video>
                <!-- Carousel content -->
                <div class="full-bg-img flex-center mask rgba-indigo-light white-text">
                    <ul class="animated fadeInUp col-md-12 list-unstyled list-inline">
                        <li>
                            <h1 class="font-weight-bold text-uppercase">E-library</h1>
                        </li>
                        <li>
                            <p class="font-weight-bold text-uppercase py-4">Зручна заміна класичної бібліотеки.</p>
                        </li>
                        <% if(user){ %>
                            <li class="list-inline-item">
                                <a target="_blank" href="/cabinet" class="btn btn-unique btn-lg btn-rounded">В кабінет читача</a>
                            </li>
                        <% } else{ %>
                            <li class="list-inline-item">
                                <a target="_blank" href="/login" class="btn btn-unique btn-lg btn-rounded">Вхід</a>
                            </li>
                            <li class="list-inline-item">
                                <a target="_blank" href="/register" class="btn btn-cyan btn-lg btn-rounded">Зареєструватися</a>
                            </li>
                        <% } %>

                    </ul>
                </div>
            </div>
            <!--/Mask-->
        </div>
        <!--/First slide-->

        <!--Second slide-->
        <div class="carousel-item">
            <!--Mask-->
            <div class="view">
                <!--Video source-->
                <video autoplay="" loop="" playsinline="" muted="">
                    <source src="/video/Calligraphy2.mp4" type="video/mp4">
                </video>
                <!-- Carousel content -->
                <div class="full-bg-img flex-center mask rgba-indigo-light white-text">
                    <ul class="animated fadeInUp col-md-12 list-unstyled list-inline">
                        <li>
                            <h1 class="font-weight-bold text-uppercase">E-LIBRARY</h1>
                        </li>
                        <li>
                            <p class="font-weight-bold text-uppercase py-4">E-Library - це сайт який є зручною заміною звичайної класичної бібліотеки <br>Так як з кожним роком актуальність класичних бібліотек все більше зменшується, сервіс який буде надавати послуги доступу до своїх читацьких кабінетів
                                чи інтрументів управління бібліотекою зможе оновити звичну нам бібліотеку, та викликати інтерес до книг у більшої кількості людей
                            </p>
                        </li>
                        <li class="list-inline-item">
                            <a target="_blank" href="#" class="btn btn-cyan btn-lg btn-rounded ml-0 waves-effect waves-light">Спробувати</a>
                        </li>

                    </ul>
                </div>
            </div>
            <!--/Mask-->
        </div>
        <!--/Second slide-->

        <!--Third slide-->

        <!--/Third slide-->
    </div>
    <!--/.Slides-->

    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
